* {
  margin: 0%;
  padding: 0%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background: #ede7f6;
}
footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #111111;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .container1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
.container1 .sec {
  margin-right: 30px;
}
.container1 .sec.aboutus {
  width: 40%;
}
.container1 .sec h2 {
  position: relative;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 15px;
}
.container1 .sec h2:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #f00;
}
p {
  color: #999999;
}
.sci {
  margin-top: 20px;
  display: flex;
}
.sci li {
  list-style: none;
}
.sci li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
}
.sci li a:hover {
  background: #f00;
}
.facebook:hover {
  background: lightblue;
}
.sci li a .fa {
  color: #fff;
  font-size: 20px;
}
.quickLinks {
  position: relative;
  width: 25%;
}
.quickLinks ul li {
  list-style: none;
}
.quickLinks ul li a {
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  margin-bottom: 10px;
  display: inline-block;
}
.quickLinks ul li a:hover {
  color: #fff;
}
.contact {
  width: 25%;
  margin-right: 0 !important;
}
.contact .info {
  position: relative;
}
.contact .info li {
  display: flex;
  margin-bottom: 16px;
}
.contact .info li span:nth-child(1) {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}
.contact .info li span {
  color: #999;
}
.contact .info li a {
  color: #999;
  text-decoration: none;
}
.copyrightText {
  width: 100%;
  background: #171818;
  padding: 8px 108px;
  text-align: center;
  color: #988;
}
@media (max-width: 600px) {
  footer {
    padding: 40px;
  }
  footer .container1 {
    flex-direction: column;
    position: relative;
  }
  footer .container1 .sec {
    float: left;
    width: 100%;
    left: 0;
    margin-right: 0%;
    margin-bottom: 40px;
  }
  footer .container1 .sec.aboutus,
  .sec.quickLinks {
    width: 100%;
  }
  .copyrightText {
    padding: 8px 40px;
  }
}
